extends layout

block content
    div.about
        p Привет друзья. Меня зовут Вадим. Я поднадристываю мелкодристом, играю в футбол, а также пишу байки. На данном изображении вы видите как я подписываю контракт на поставку баек с футбольным клубом Valencia CF Mestalla.
        img(src="/images/football.jpg")
        p Вы можете найти меня на сайте  
            a(href='https://vk.com/id93211415' target='_blank') ВКонтакте
        button(class='btn' onclick='play()') нажми на меня
    script(src='/javascripts/about.js')