doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Website
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/about.css')
  body
    div.wrapper
      header
        nav
          a(href='/') main
          a(href='/about') about
      main
        block content
      footer
        div © Vadim Zviagintsev all rights reserved
